<br>
<br>  
<div class="container">
  <div class="leftbar">
    <a href="#"><h1>PetsList</h1></a>
    <ul>
      <li><%= link_to 'Create a new post', new_listing_path %></li>
      <% if user_signed_in? %>
          <li><%= link_to 'my account', edit_user_registration_path %></li>
          <li><%= link_to 'log out', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'my listings', mylistings_path %></li>

      <% else %>
          <li><%= link_to 'sign in', new_user_session_path %></li>
          <li><%= link_to 'sign up', new_user_registration_path %></li>
      <% end %>

    </ul>
      <%= form_tag search_listings_path, method: :get do |f| %>
      <p>search PetsList</p>
        <%= text_field_tag :search, nil, placeholder: 'search' %>
        <%= text_field_tag :location, nil, placeholder: 'near' %>
        <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
        <%= submit_tag '>' %>
      <% end %>
  </div>

  <div class="center-column" >
    <div class="center-one">

      <table>
        <tr>
          <th class="table-header"><%= link_to 'cats', category_path(@cat) %></th> 
        </tr>
        <tr>
          <td>
          <% @cat.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@cat, subcategory) %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <th class="table-header"><%= link_to 'horses', category_path(@horse) %></th>
        </tr>
        <tr>
          <td>
          <% @horse.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@horse, subcategory) %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>


    <div class="center-two">
    
    <table>
        <tr>
          <th class="table-header"><%= link_to 'dogs', category_path(@dog) %></th> 
        </tr>
        <tr>
          <td>
          <% @dog.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@dog, subcategory)  %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <th class="table-header"><%= link_to 'birds', category_path(@bird) %></th>
        </tr>
        <tr>
          <td>
           <% @bird.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@bird, subcategory)  %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <div class="center-three">

      <table>
        <tr>
          <th class="table-header"><%= link_to 'small animals', category_path(@smanimal) %></th>
        </tr>
        <tr>
          <td>
          <% @smanimal.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@smanimal, subcategory)  %></li>          
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
      <br>

      <table>
        <tr>
          <th class="table-header"><%= link_to 'fish', category_path(@fish) %></th>
        </tr>
        <tr>
          <td>
          <% @fish.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@fish, subcategory)  %></li>          
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
      <br>

      <table>
        <tr>
          <th class="table-header"><%= link_to 'reptiles', category_path(@reptile) %></th>
        </tr>
        <tr>
          <td>
          <% @reptile.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@reptile, subcategory)  %></li>          
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
<br>
      <table>
        <tr>
          <th class="table-header"><%= link_to 'other', category_path(@other) %></th>
        </tr>
        <tr>
          <td>
          <% @other.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@other, subcategory)  %></li>          
            </ul>
            <% end %>
          </td>
        </tr>
      </table>

    </div>
  </div>


  <div class="rightbar">
    <ul class="rightbar-top">
      <li><%=link_to 'help and faq', help_path%></li>
      <li><%=link_to 'puppy mills', puppymills_path%></li>
      <li><%=link_to 'adoption resources', adoptions_path%></li>

      <li class="rightbar-top"><%=link_to 'terms of use', terms_path%></li>
      <li><%=link_to 'privacy policy', privacy_path%></li>
      <li><%=link_to 'about PetsList', about_path%></li>
      <li><%=link_to 'contact us', contact_path%></li>
    </ul>
  </div>
</div>
