<br>
<br>  
<div class="container">
  <div class="leftbar">
    <a href="#"><h1>PetsList</h1></a>
    <ul>
      <%= link_to 'post to petslist', new_listing_path %>
      <li>my account</li>
    </ul>
    
      <%= form_tag search_listings_path, method: :get do |f| %>
      <p>search PetsList</p>
      <%= text_field_tag :search, nil, placeholder: 'search' %>
      <%= text_field_tag :location, nil, placeholder: 'near' %>
      <br><br>
      <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
      <br>
      <br>
      <%= submit_tag '>' %>
      <% end %>
  </div>

  <div class="center-column" >
    <div class="center-one">

      <table>
        <tr>
          <th class="table-header"><%= link_to 'Cats', category_path(@cat) %></th> 
        </tr>
        <tr>
          <td>
          <% @cat.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@cat, subcategory) %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <th class="table-header"><%= link_to 'Horses', category_path(@horse) %></th>
        </tr>
        <tr>
          <td>
          <% @horse.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@horse, subcategory)%></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>


    <div class="center-two">
    
    <table>
        <tr>
          <th class="table-header"><%= link_to 'Dogs', category_path(@dog) %></th> 
        </tr>
        <tr>
          <td>
          <% @dog.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@dog, subcategory) %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>

    <table>
        <tr>
          <th class="table-header"><%= link_to 'Birds', category_path(@bird)%></th>
        </tr>
        <tr>
          <td>
          <% @bird.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@bird, subcategory) %></li>          
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <div class="center-three">

      <table>
        <tr>
          <th class="table-header"><%= link_to 'Small Animals', category_path(@smanimal) %></th>
        </tr>
        <tr>
          <td>
          <% @smanimal.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@smanimal, subcategory) %></li>          
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
      <br>

      <table>
        <tr>
          <th class="table-header"><%= link_to 'Fish', category_path(@fish) %></th>
        </tr>
        <tr>
          <td>
           <% @fish.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@fish, subcategory) %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
      <br>
      

      <table>
        <tr>
          <th class="table-header"><%= link_to 'Reptiles', category_path(@reptile)%></th>
        </tr>
        <tr>
          <td>
          <% @reptile.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@reptile, subcategory) %></li>          
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
      <br>

      <table>
        <tr>
          <th class="table-header"><%= link_to 'Other', category_path(@other)%></th>
        </tr>
        <tr>
          <td>
          <% @other.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@other, subcategory) %></li>          
            </ul>
            <% end %>
          </td>
        </tr>
      </table>

    </div>
  </div>


  <div class="rightbar">
    <ul class="rightbar-top">
      <li><%=link_to 'help and faq', help_path%></li>
      <li><%=link_to 'puppy mills', puppymills_path%></li>
      <li><%=link_to 'adoption resources', adoptions_path%></li>

      <li class="rightbar-top"><%=link_to 'terms of use', terms_path%></li>
      <li><%=link_to 'privacy policy', privacy_path%></li>
      <li><%=link_to 'about PetsList', about_path%></li>
      <li><%=link_to 'contact us', contact_path%></li>
    </ul>
  </div>
</div>
