<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'PetsList', root_path %> >
      <% if @category.name != "fish" %>
        <%= @category.name %>s
      <% else %>
        <%= @category.name %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
     <div class="newest">newest</div>
     <div class="oldest">oldest</div>
  </div>
  <ul class="list-margin">
  <% if @listings.present? %>
    <% @listings.each do |listing| %>
      <li>
        <span>
          <%= listing.created_at.strftime('%b %d, %Y')%>
        </span>
        <%= link_to listing.title, listing %> (<%= listing.city %>, <%= listing.state %>)
      </li>
      <% end %>
  <% else %>
    <p>No listings for this category yet!</p>
  <% end %>
  </ul>
</div>